body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: "Arial", sans-serif;
	color: #404040;
	background-color: white;
}

/*HEADER*/

.header {
  display: block;
  background-image: url("../img/back-var-mini.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #FDDD96;
  height: 60px;
  width: 100%;
  padding: 8px 0px;
}

.header-logo-txt p {
	font-family: 'Barrio', cursive;
	font-size: 45px;
	color: #4B5562;
	letter-spacing: 2px;
	font-weight: 400;
  line-height: 0;
  margin-left: 5px;
  width: 15%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-nav li {
	text-transform: uppercase;
	vertical-align: middle;
  margin-right: 20px;
}

.main-nav li:last-child {
	margin-right: 3px;
}

.main-nav li:first-child {
	margin-left: 3px;
}

.main-nav a {
	color: #4B5562;
  text-decoration: none;
  filter: drop-shadow(0px 0px 1px #4B5562);
  transition-duration: 0.1s;
}

.main-nav a:hover {
  font-weight: 700;
  font-size: 15px;
}

.main-nav a:active {
  filter: drop-shadow(0px 0px 0px #4B5562);
  color: #4B5562;
  font-weight: 400;
  font-size: 16px;
}

.btn {
  display: flex;
  flex-direction: row;
  width: 115px;
  justify-content: space-around;
	padding: 10px;
	font: inherit;
	vertical-align: top;
	text-align: center;
	color: #4B5562;
	text-transform: uppercase;
	text-decoration: none;
  word-wrap: none;
	outline: 2px solid #4B5562;
  border-radius: 2px;
}

.btn-quick-buy {
  width: 15%;
  margin-right: 5px;
  flex-wrap: nowrap;
}

.btn:hover {
  color: #FFE8B6;
  font-weight: 700;
	background-color: #4B5562;
	outline: none;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px #4B5562);
}

.btn:active {
	color: #FFE8B6;
  border-radius: 10px;
  background-color: #5f6c7e;
  filter: drop-shadow(0px 0px 4px #6e7f94);
}

/*HEADER-SLIDER*/


.header-slider {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  height: 360px;
  position: relative;
}

.slider-radio {
  display: none;
}

.promo-slides {
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.promo-items {
  width: 510%;
  transition: transform 1s;
}

.promo-item {
  display: inline-block;
  width: 20%;
}

.promo-item-box {
  position: relative;
  display: flex;
}

.promo-item-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.promo-item-text p {
  background-color: #FFD2DE;
  padding: 5px;
  font-size: 1.2vw;
  color: #4B5562;
  filter: drop-shadow(1, 1, 2, #4B5562);
}

.promo-img {
  width: 100%;
  height: 100%;
  outline: 2px solid #4B5562;
}

.tech-ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech-li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header-slider-controls {
  margin: 0 auto;
  padding: 0 auto;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
}

.slider-button {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFD2DE;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.slider-button:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.slider-button:active {
  opacity: 0.9;
  transform: scale(0.8);
}

#r1:checked ~ .promo-slides .promo-items {
  transform: translateX(0%);
}

#r2:checked ~ .promo-slides .promo-items {
  transform: translateX(-20%);
}

#r3:checked ~ .promo-slides .promo-items {
  transform: translateX(-40%);
}

#r4:checked ~ .promo-slides .promo-items {
  transform: translateX(-60%);
}

#r5:checked ~ .promo-slides .promo-items {
  transform: translateX(-80%);
}


/*NOVELTIES*/


.top-novelties {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 0;
  height: 100%;
  padding: 5px;
  background-color: #4B5562;
}

.novelties-heading {
	color: #FFD2DE;
	font-family: 'Barrio', cursive;
	font-size: 32px;
  text-align: center;
  align-self: flex-start;
	width: 100%;
	text-transform: uppercase;
}

.novelty-items {
  display: flex;
  position: relative;
  align-content: space-around;
  min-width: 0;
}

.novelty-item {
  position: relative;
  text-align: center;
  outline: none;
}

.novelty-item img {
  border: 2px solid #FFE8B6;
  border-radius: 5px;
  outline: none;
}

.novelty-item p {
  width: auto;
  font-size: 12px;
  color: #FFD2DE; 
  text-transform: uppercase;
  background-color: #363636;
}

.novelty-item a {
  list-style: none;
  text-decoration: none;
  outline: none;
}

.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}

/* header-slider SLICK */

.header-slide .slick-slide {
  display: flex;
  flex-direction: row;
}

.header-slider .slick-arrow {
  display: none;
}

.header-slider .slick-arrow .slick-prev {
  border: none;
}

.header-slider .slick-arrow:active {
  border: none;
}

.header-slider .slick-arrow:link {
  border: none;
}

/* novelty-items SLICK */
.novelty-items .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  opacity: 0.7;
  margin: 0px 15px;
  top: 65px;
}

.novelty-items .slick-arrow:hover {
  opacity: 0.4;
  border: none;
}

.novelty-items .slick-arrow:active {
  border: none;
}

.novelty-items .slick-arrow:link {
  border: none;
}

.novelty-items .slick-arrow.slick-prev  {
  left: 0;
  background: url('../img/prev.png') 0 0 / 100% no-repeat;
}

.novelty-items .slick-arrow.slick-next  {
  right: 0;
  background: url('../img/next.png') 0 0 / 100% no-repeat;
}


/* BRANDS*/


.brands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #FFD2DE;
}

.brands-heading {
  color: #4B5562;
  font-family: 'Barrio', cursive;
	font-size: 32px;
  text-align: center;
  align-self: flex-start;
	width: 100%;
	text-transform: uppercase;
}

.brand-sketchers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  width: 40%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-sketchers img {
  width: 55%;
  margin-right: 15px;
}

.brand-sketchers p {
  color: #FFD2DE;
  width: 40%;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

.brand-NB {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: no-wrap;
  width: 54%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-NB img {
  width: 90%;
  align-self: center;
}

.brand-NB p {
  color: #FFD2DE;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

.brand-nike {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: no-wrap;
  width: 54%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-nike img {
  width: 90%;
  align-self: center;
}

.brand-nike p {
  color: #FFD2DE;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

.brand-puma {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  width: 40%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-puma img {
  width: 55%;
  margin-right: 15px;
}

.brand-puma p {
  color: #FFD2DE;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

.brand-golf {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  width: 40%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-golf img {
  width: 55%;
  margin-right: 15px;
}

.brand-golf p {
  color: #FFD2DE;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

.brand-vans {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: no-wrap;
  width: 54%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.brand-vans img {
  width: 90%;
  align-self: center;
}

.brand-vans p {
  color: #FFD2DE;
  padding-right: 10px;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
}

/* MODELS */

.models {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #4B5562;
}

.models-heading {
	color: #FFD2DE;
	font-family: 'Barrio', cursive;
	font-size: 32px;
  text-align: center;
  align-self: flex-start;
	width: 100%;
	text-transform: uppercase;
}

.model {
  display: flex;
  flex-direction: column;
  justify-self: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  position: relative;
  background-color: #FFD2DE;
  padding: 15px;
  margin: 15px;
}

.model-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("img/model 01 golf la fleur olive.jpg");
}

.model p {
  color: #4B5562;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}

/*PURCHASE FORM*/

.purchase-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #FDDD96;
}

.purchase-form-heading {
	color: #23475F;
	font-family: 'Barrio', cursive;
	font-size: 32px;
  text-align: center;
  align-self: flex-start;
	width: 100%;
	text-transform: uppercase;
}

.buying-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  margin: 10px;
  border: 2px solid #4B5562;
  border-radius: 5px;
  background-image: url("../img/back-var-mini.jpg");
  background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 25%;
  padding: 20px;
  margin: 10px;
  border: 2px solid #4B5562;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #FFD2DE;
}

/*ABOUT SHOEGAZE*/

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #FFD2DE;
  border-top: 5px solid #4B5562;
}

.about-us-heading {
	color: #23475F;
	font-family: 'Barrio', cursive;
	font-size: 32px;
  text-align: center;
  align-self: flex-start;
	width: 100%;
	text-transform: uppercase;
}

.about-us-block-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 48%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.about-us-block-1 p {
  color: #FFD2DE;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
  margin: 10px;
}

.about-us-block-1 img {
  width: 98%;
  margin: 0px 10px 10px 10px;
}

.about-us-block-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  width: 48%;
  padding: 10px;
  background-color: #4B5562;
  margin-bottom: 10px;
}

.about-us-block-2 p {
  color: #FFD2DE;
  font-size: 1.5vw;
  line-height: 2vw;
  word-wrap: break-word;
  margin: 10px;
}

.about-us-block-2 img {
  width: 70%;
  margin: 10px;
}

/*ABOUT SHOEGAZE*/

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  flex-wrap: wrap;
  padding: 10px 10px;
  background-color: #4B5562;
  border-bottom: 15px solid #FFD2DE;
}

.lists-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  padding: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  margin: 0px 30px;
}

.footer-list p {
  color: #A1ABB8;
  line-height: 0;
  text-align: left;
}

.lists-footer ul {
  list-style: none;
}

.lists-footer ul:nth-child(2) {
  text-align: center;
}

.lists-footer ul li a {
  text-decoration: none;
  color: #8490A0;
  font: inherit;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-self: center;
  flex-wrap: wrap;
  width: 200px;
  height: 90px;
  margin: 5px 5px 5px 10px;
  background: #657386;
  border-radius: 5px;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 49px;
  height: 49px;
  vertical-align: middle;
  background: #4B5562;
  border-radius: 50%;
  overflow: hidden;
  transition-duration: 0.3s;
}

.share:hover {
  filter: hue-rotate(120deg) saturate(1.5) drop-shadow(5px 3px #51F8DE);
  opacity: 0.8;
}

.social p {
  text-transform: uppercase;
  color: #FFD2DE;
  width: 100%;
  line-height: 0px;
  text-align: center;
}

.share img {
  width: 100%;
  position: center;
}

/*MEDIA QWERY*/

@media screen and (max-width: 1155px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }

  .main-nav li {
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 20px;
    width: 30%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .main-nav li:nth-child(1) {
    display: none;
  }

  .main-nav li:nth-child(2) {
    display: none;
  }

  .main-nav li:nth-child(6) {
    display: none;
  }

  .btn-quick-buy {
    padding: 5px;
  }

  .promo-item-text {
    display: none;
  }
}

@media screen and (max-width: 624px) {
  .main-nav {
    display: none;
  }
}